.footer {
    background: #f4f6f8;
    padding: min(10%, 50px) 0;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footer-top p {
    text-align: center;
}