.experience-container {
    max-width: 1024px; 
    margin: auto;
}

.pf-exp {
    display: flex; 
    flex-wrap: wrap;
    gap: 4%; 
    padding-top: 5%;
    overflow: hidden;
} 

.pf-exp-container{
    margin: 5% 0;
}