.pf-container {
    width: 100%; 
    margin: 5% auto; 
    padding: 0 80px;
}

.portfolio-container {
    margin: auto;
    width: 100%;
    max-width: 1300px;
} 

.pf-folio {
    width: 100%; 
    margin: auto;
    padding-top: 20px;
}