.pf-services {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}

.pf-services h1 {
    margin: auto;
}

.ctn-icons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: capitalize;
}

.icons h5 {
    font-size: 1.2rem;
}