.skill-container {
    max-width: 1024px;
    margin: auto;
}

.pf-skills {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 5% 0;
}

.skills-ctn {
    background-color: #f4f6f8;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 30px;
}

.per-skill {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-qnty {
    display: flex;
}

.per-skill .name-qnty p {
    flex: 1;
}